<section class="new-user">
  <%= render partial: "shared/error" %>
  <%= form_for @user do |f| %>
    <%= f.text_field :username, required: true, placeholder: "Username" %>

    <%= f.email_field :email, required: true, placeholder: "Email" %>

    <%= f.password_field :password, required: true, placeholder: "Password" %>

    <%= f.password_field :password_confirmation, required: true, placeholder: "Password confirmation" %>

    <%= f.submit "Submit" %>
  <% end %>

  <%= link_to "Already have an account?", login_path %>
</section>

